body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.pfp {
	border-collapse: separate; 
	border-radius: 23vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.name {
	text-align: center;
}

.skillsMenu {

}

.skillsButton {
	text-align: center;
	font-size: 3em;
}

.selectedSkill {
	background-color: #ADD8E6;
}