.cardLink {
	font-size: 1.5em;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li 
{
  padding: 0!important;
  border: 0!important;
  box-shadow: none!important;
  background: #fff;
  margin-left: 1vw;
  font-size: 1em;
}

.collapsible-header {
	font-size: 2em;
}

.collapsible-header:hover {
	text-decoration: underline;
}

.pageTitle {
	font-size: 2.5em;
}

.pageText {
	font-size: 1.5em;
	margin-left: 3vw;
}

.instruction_img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 35vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.instruction_header {
	font-weight: bold;
}

.instruction_list li {
	font-size: 1.25em;
}

table {
	width: 50%;
	margin-left: 25%;
}

.command {
	color: blue;
}

.proofList {

}

.proofTable {
	margin-left: 0;
	width: 80%;
}
w
.proofTable td {
	text-align: center;
}

.subhead {
	margin-left: 8.55vw;
}

.subhead_align {
	margin-left: 8.55vw;
}

.websiteHeader {
	font-size: 3em;
}

.image {
	border-bottom: black solid 1px;
}