body {
    overflow-x:hidden;
}

.headerRow {
	height: 90vh;
}

.featureRow1 {
	background-color: #cfd8dc;
}

.featureRow2 {
	background-color: #607d8b ;
}

.featureHeader {
	text-align: center;
}

.headerPhoto {
	display: block;
	margin: auto;
	height: 65vh;
}

.featurePhoto {
	display: block;
	margin: auto;
	height: 50vh;
}

.featureText {
	text-align: center;
	vertical-align: text-bottom;
}

.storeImg {
	height: 100% !important;
}

.storeCardTitle {
	text-align: center;
}

.storeCardLink {
	text-align: center;
}

.storeRow {
	padding-left: 10%;
    padding-right: 10%;
}